@font-face {
    font-family: 'StalinistOne-Regular';
    src: url("../fonts/StalinistOne-Regular.woff") format('woff'),
         url("../fonts/StalinistOne-Regular.woff2") format('woff2');
  }

  @font-face {
    font-family: 'Mulish-Variable';
    src: url("../fonts/Mulish-VariableFont_wght.woff") format('woff'),
         url("../fonts/Mulish-Italic-VariableFont_wght.woff") format('woff2');
  }
  @font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/ProximaNova-Regular.woff") format('woff');
  }