@import url("fonts.css");
@import url("reset.css");


.page {
    max-width: 50%;
    min-width: 300px;
    margin: 0 auto;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 138.461538%; /* 18/13 */
}
.page h1 {
    background-color: rgba(210, 105, 30, 0.492);
    font-weight: 800;
    font-size: 28px;
    font-family: "Proxima Nova", sans-serif;
    text-align: center;
    padding: 1%;
}
.page h2 {
    background-color: rgba(210, 105, 30, 0.492);
    font-weight: 800;
    font-size: 22px;
    font-family: "Proxima Nova", sans-serif;
    text-align: center;
    padding-bottom: 3%;
}
.page h3 {
    background-color: rgba(210, 105, 30, 0.492);
    font-weight: 800;
    font-size: 18px;
    font-family: "Proxima Nova", sans-serif;
    text-align: center;
    padding: 20px 0;
}
.history {
    padding: 0 5%;
    margin: 3% 0;
}
.history p {
    margin-top: 1%;
    background-color: rgba(100, 148, 237, 0.278);
}
.identity p {
    background-color: rgba(184, 135, 11, 0.305);
    max-height: 55px;
    margin-bottom: 1px;
    padding-bottom: 1px;
}
.inspiration {
    margin: 0 auto;
    font-size: 0;
}
.inspiration span {
    background-color: #7b484867;
    display: inline-block;
    width: 31%;
    padding: 0 5px;
    margin: 1% auto 0 1.8%;
    font-size: 14px;
    max-height: 200px;
    overflow: auto;
}
.inspiration p {
    font-size: 14px;
}